<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>🔥 Live Image Tracker(LIT)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
</head>

<body class="text-center">
<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #884A39;">
    <a class="navbar-brand-color" href="#">🔥 LIT</a>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div id="signout"></div>
            </li>
        </ul>
    </div>
</nav>

<div class="card">
    <div class="card-header">
        Welcome to Live Image Tracker(LIT)
    </div>
    <div class="card-body">
        <h5 class="card-title">Tracker for Favourite Images</h5>
        <button id="cat" href="#" class="btn btn-primary" style="background-color: #5486c3; margin: 30px;"">Cat 🐱</button>
        <button id="dog" href="#" class="btn btn-primary" style="background-color: #dc3545; margin: 30px;">Dog 🐶</button>
        <button id="bird" href="#" class="btn btn-primary" style="background-color: #6e54c3; margin: 30px;">Bird 🐥</button>
        <button id="sheep" href="#" class="btn btn-primary" style="background-color: #6a4a2b; margin: 30px;">Sheep 🐑</button>
        <br>
        <input id="searchbar" type="text" class="search-query" placeholder="Search">
        <button id="personsearch" href="#" class="btn btn-primary" style="background-color: #17a2b8; margin: 10px; height: 40px">Submit</button>
        
    </div>
</div>

<div class="card">
    <div class="card-header">
        Reshares Found:
    </div>
    <h5 id="location-output">
    </h5>
    <div class="card-body">
    </div>
</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.min-v4.1.0.js"></script>
<script src="js/tools.js"></script>
</html>
